fieldset {
  border: none;
}

legend{
  color: #db6565;
  font-weight: bolder;
  font-size: 2rem;
  padding-bottom: 20px;
}

form {
    width: 520px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 30%;
    margin-top:10%;
    border: 2px solid #db6565;
    padding: 20px;
    color:  #1a1a1a;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    margin-bottom:15rem;


     input {
      width: 100%;
      display: inline-block;
      position: relative;
      outline: none;
      border: 2px solid #db6565;
      padding: 20px 10px;
      border-radius: 5px;
      transition: .3s;
      color: black;
      font-size: 20px;
    }
    
    input:focus {
      background: #db6565;
      color: black;
    }

    label {
      color: #db6565;
      font-weight: bold;
    }

  }
  
  
  button {
    padding: 12.5px 30px;
    margin-top: 30px;
    border: 0;
    border-radius: 100px;
    background-color: #db6565;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;

  }
  
  button:hover {
    background-color: #db6565;
    box-shadow: 0 0 20px #713333;
    transform: scale(1.1);
  }
  
  button:active {
    background-color: #df4343;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }
  
  @media screen and (max-width: 768px) {
    form {
      width: 90%; 
      margin-left: 5%; 
      font-size: 16px; 
      margin-bottom: 18rem;
    }
    
    form input {
      width: 100%; 
      font-size: 16px; 
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    form {
      width: 70%; 
      margin-left: 15%; 
      font-size: 18px; 
      margin-bottom: 20rem;
    
    form input {
      width: 100%; 
      font-size: 18px; 
    }
  }
  @media screen and (min-width: 1025px) {
    form {
      width: 520px; 
      margin-left: 28%; 
      font-size: 20px; 
      margin-bottom: 20rem;
    }
    
    form input {
      width: 500px; 
      font-size: 20px; 
    }
  }

}